.sidebar{
  width:260px;
  min-height:100vh;

  background:#111827;

  padding:30px 20px;

  display:flex;
  flex-direction:column;

  gap:20px;

  position:fixed;
  left:0;
  top:0;
}

.logo{
  color:white;
  margin-bottom:30px;
}

.sidebar a{
  color:#d1d5db;

  padding:15px;

  border-radius:10px;

  transition:0.3s;
}

.sidebar a:hover{
  background:#1f2937;
  color:white;
}

/* MOBILE */

@media(max-width:900px){

  .sidebar{
    left:-100%;
    transition:0.3s;
    z-index:1000;
  }

  .sidebar.active{
    left:0;
  }

}